<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑界面</title>
</head>
<body>
<form action="edit" method="post">
    <table>
        <tr>
            <td>部门编号</td>
            <td><input type="text" name="deptno" th:value="" /></td>
        </tr>
        <tr>
            <td>部门姓名</td>
            <td><input type="text" name="dname" th:value=""/></td>
        </tr>
        <tr>
            <td>部门位置</td>
            <td><input type="text" name="loc" th:value=""/></td>
        </tr>
        <tr>
            <td><input type="submit" value="提交"></td>
        </tr>
    </table>
</form>
</body>
</html>